.contact-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  .contact-title {
    margin-top:10%;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-details {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
  }
  
  .contact-item h3 {
    color: #ff9800;
    font-size: 4rem;
    margin-bottom: 5px;
  }
  .contact-item p {
font-size: 1.7rem;
cursor: pointer;
  }
  
  .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .map {
    flex: 1;
    min-width: 500px;
    height:auto;
  }
  
  .contact-form {
    flex: 1;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    gap: 15px;
  }
  
  .input-group input,
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #e68900;
  }
  
  @media (max-width: 768px) {
    .contact-details {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .contact-content {
      flex-direction: column;
    }
    .input-group {
      flex-direction: column;
    }
  }
  